.slider{
  width: 100%;
  margin-top: 20px;
}

.slider-img{
  height: 350px;
  width: 100%;
}

.slider-img .slider-img-1{
  background-image: url('../img/iphone.png');
}

.slider-img .slider-img-2{
  background-image: url('../img/samsung.jpg');
}

.slider-img .slider-img-3{
  background-image: url('../img/xiaomi.jpg');
}

.slider-img span{
  width: 100%;
  height: 100%;
  display: block;
  background-size: cover;
  background-position-x: center;
  border-radius: 15px;
}

.slider-img img{
  width: 100%;
  height: 100%;
}

.slider-back, .slider-next {
  width: max-content;
  position: absolute;
}

.slider-back a, .slider-next a{
  cursor: pointer;
  font-size: 20px;
  background: #0A0A0A40;
  color: #fff;
}

.slider-back a{
  padding: 7px 12px 7px 12px;
}

.slider-next a{
  padding: 7px 12px 7px 12px;
}

.slider-container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.slider-back{
  left: 0;
}

.slider-next {
  right: 0;
}
